<div class="body first">
  <div id="wrapper">
    <h1>おてつだい</h1>
    <div class="score-and-save">
      <p id="score">Score : <span><%= @current_user.first %></span></p>
      <%= link_to("保存", "/user/save_first", method: :post, data: {confirm: "終了しますか？"},  class: "save") %>
    </div>
    <div id="game">
      <div id="numbers">
        <img src="/game_first/img1.jpg" alt="" id="1">
        <img src="/game_first/img2.jpg" alt="" id="2">
        <img src="/game_first/img3.jpg" alt="" id="3">
        <img src="/game_first/img4.jpg" alt="" id="4">
        <img src="/game_first/img5.jpg" alt="" id="5">
        <img src="/game_first/img6.jpg" alt="" id="6">
        <img src="/game_first/img7.jpg" alt="" id="7">
        <img src="/game_first/img8.jpg" alt="" id="8">
        <img src="/game_first/img9.jpg" alt="" id="9">
        <img src="/game_first/img10.jpg" alt="" id="10">
        <img src="/game_first/img11.jpg" alt="" id="11">
        <img src="/game_first/img12.jpg" alt="" id="12">
        <img src="/game_first/img13.jpg" alt="" id="13">
        <img src="/img14.jpg" alt="" id="14">
        <img src="/img15.jpg" alt="" id="15">
        <img src="/img16.jpg" alt="" id="16">
        <img src="/img17.jpg" alt="" id="17">
        <img src="/img18.jpg" alt="" id="18">
        <img src="/img19.jpg" alt="" id="19">
        <img src="/img20.jpg" alt="" id="20">
        <img src="/img21.jpg" alt="" id="21">
        <img src="/img22.jpg" alt="" id="22">
        <img src="/img23.jpg" alt="" id="23">
        <img src="/img24.jpg" alt="" id="24">
        <img src="/img25.gif" alt="" id="25">
      </div>
      <div id="startScene">
        <button class="start-button">START</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var score = <%= @current_user.first %>;
  var hitNum = [];
  

  $(function() {
  
    //スタート画面準備
    $("button").click(function(){
      $("#startScene").hide();

      if(gon.first_1 == 1) {
        $("#1").addClass("hit");
      }
      if(gon.first_2 == 2) {
        $("#2").addClass("hit");
      }
      if(gon.first_3 == 3) {
        $("#3").addClass("hit");
      }
      if(gon.first_4 == 4) {
        $("#4").addClass("hit");
      }
      if(gon.first_5 == 5) {
        $("#5").addClass("hit");
      }
      if(gon.first_6 == 6) {
        $("#6").addClass("hit");
      }
      if(gon.first_7 == 7) {
        $("#7").addClass("hit");
      }
      if(gon.first_8 == 8) {
        $("#8").addClass("hit");
      }
      if(gon.first_9 == 9) {
        $("#9").addClass("hit");
      }
      if(gon.first_10 == 10) {
        $("#10").addClass("hit");
      }
      if(gon.first_11 == 11) {
        $("#11").addClass("hit");
      }
      if(gon.first_12 == 12) {
        $("#12").addClass("hit");
      }
      if(gon.first_13 == 13) {
        $("#13").addClass("hit");
      }
      if(gon.first_14 == 14) {
        $("#14").addClass("hit");
      }
      if(gon.first_15 == 15) {
        $("#15").addClass("hit");
      }
      if(gon.first_16 == 16) {
        $("#16").addClass("hit");
      }
      if(gon.first_17 == 17) {
        $("#17").addClass("hit");
      }
      if(gon.first_18 == 18) {
        $("#18").addClass("hit");
      }
      if(gon.first_19 == 19) {
        $("#19").addClass("hit");
      }
      if(gon.first_20 == 20) {
        $("#20").addClass("hit");
      }
      if(gon.first_21 == 21) {
        $("#21").addClass("hit");
      }
      if(gon.first_22 == 22) {
        $("#22").addClass("hit");
      }
      if(gon.first_23 == 23) {
        $("#23").addClass("hit");
      }
      if(gon.first_24 == 24) {
        $("#24").addClass("hit");
      }
      if(gon.first_25 == 25) {
        $("#25").addClass("hit");
      }

      
      $("#numbers img").click(function(){
          $(this).addClass("hit");
      });
      
      $("#1").one('click', function(){
        if ($("#2").hasClass("hit") && $("#3").hasClass("hit") && $("#4").hasClass("hit") && $("#5").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#6").hasClass("hit") && $("#11").hasClass("hit") && $("#16").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#7").hasClass("hit") && $("#13").hasClass("hit") && $("#19").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("1");
      });
      $("#2").one('click', function(){
        if ($("#1").hasClass("hit") && $("#3").hasClass("hit") && $("#4").hasClass("hit") && $("#5").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#7").hasClass("hit") && $("#12").hasClass("hit") && $("#17").hasClass("hit") && $("#22").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("2");
      });
      $("#3").one('click', function(){
        if ($("#1").hasClass("hit") && $("#2").hasClass("hit") && $("#4").hasClass("hit") && $("#5").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#8").hasClass("hit") && $("#13").hasClass("hit") && $("#18").hasClass("hit") && $("#23").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("3");
      });
      $("#4").one('click', function(){
        if ($("#1").hasClass("hit") && $("#2").hasClass("hit") && $("#3").hasClass("hit") && $("#5").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#9").hasClass("hit") && $("#14").hasClass("hit") && $("#19").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("4");
      });
      $("#5").one('click', function(){
        if ($("#1").hasClass("hit") && $("#2").hasClass("hit") && $("#3").hasClass("hit") && $("#4").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#10").hasClass("hit") && $("#15").hasClass("hit") && $("#20").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#9").hasClass("hit") && $("#13").hasClass("hit") && $("#17").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("5");
      });
      $("#6").one('click', function(){
        if ($("#7").hasClass("hit") && $("#8").hasClass("hit") && $("#9").hasClass("hit") && $("#10").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#11").hasClass("hit") && $("#16").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("6");
      });
      $("#7").one('click', function(){
        if ($("#6").hasClass("hit") && $("#8").hasClass("hit") && $("#9").hasClass("hit") && $("#10").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#2").hasClass("hit") && $("#12").hasClass("hit") && $("#17").hasClass("hit") && $("#22").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#13").hasClass("hit") && $("#19").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("7");
      });
      $("#8").one('click', function(){
        if ($("#6").hasClass("hit") && $("#7").hasClass("hit") && $("#9").hasClass("hit") && $("#10").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#3").hasClass("hit") && $("#13").hasClass("hit") && $("#18").hasClass("hit") && $("#23").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("8");
      });
      $("#9").one('click', function(){
        if ($("#6").hasClass("hit") && $("#7").hasClass("hit") && $("#8").hasClass("hit") && $("#10").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#4").hasClass("hit") && $("#14").hasClass("hit") && $("#19").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#13").hasClass("hit") && $("#17").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("9");
      });
      $("#10").one('click', function(){
        if ($("#6").hasClass("hit") && $("#7").hasClass("hit") && $("#8").hasClass("hit") && $("#9").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#15").hasClass("hit") && $("#20").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("10");
      });
      $("#11").one('click', function(){
        if ($("#12").hasClass("hit") && $("#13").hasClass("hit") && $("#14").hasClass("hit") && $("#15").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#6").hasClass("hit") && $("#16").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("11");
      });
      $("#12").one('click', function(){
        if ($("#11").hasClass("hit") && $("#13").hasClass("hit") && $("#14").hasClass("hit") && $("#15").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#2").hasClass("hit") && $("#7").hasClass("hit") && $("#17").hasClass("hit") && $("#22").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("12");
      });
      $("#13").one('click', function(){
        if ($("#11").hasClass("hit") && $("#12").hasClass("hit") && $("#14").hasClass("hit") && $("#15").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#3").hasClass("hit") && $("#8").hasClass("hit") && $("#18").hasClass("hit") && $("#23").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#7").hasClass("hit") && $("#19").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#9").hasClass("hit") && $("#17").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("13");
      });
      $("#14").one('click', function(){
        if ($("#11").hasClass("hit") && $("#12").hasClass("hit") && $("#13").hasClass("hit") && $("#15").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#4").hasClass("hit") && $("#9").hasClass("hit") && $("#19").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("14");
      });
      $("#15").one('click', function(){
        if ($("#11").hasClass("hit") && $("#12").hasClass("hit") && $("#13").hasClass("hit") && $("#14").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#10").hasClass("hit") && $("#20").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("15");
      });
      $("#16").one('click', function(){
        if ($("#17").hasClass("hit") && $("#18").hasClass("hit") && $("#19").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#6").hasClass("hit") && $("#11").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("16");
      });
      $("#17").one('click', function(){
        if ($("#16").hasClass("hit") && $("#18").hasClass("hit") && $("#19").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#2").hasClass("hit") && $("#7").hasClass("hit") && $("#12").hasClass("hit") && $("#22").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#9").hasClass("hit") && $("#13").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("17");
      });
      $("#18").one('click', function(){
        if ($("#16").hasClass("hit") && $("#17").hasClass("hit") && $("#19").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#3").hasClass("hit") && $("#8").hasClass("hit") && $("#13").hasClass("hit") && $("#23").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("18");
      });
      $("#19").one('click', function(){
        if ($("#16").hasClass("hit") && $("#17").hasClass("hit") && $("#18").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#4").hasClass("hit") && $("#9").hasClass("hit") && $("#14").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#7").hasClass("hit") && $("#13").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("19");
      });
      $("#20").one('click', function(){
        if ($("#16").hasClass("hit") && $("#17").hasClass("hit") && $("#18").hasClass("hit") && $("#19").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#10").hasClass("hit") && $("#15").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("20");
      });
      $("#21").one('click', function(){
        if ($("#22").hasClass("hit") && $("#23").hasClass("hit") && $("#24").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#6").hasClass("hit") && $("#11").hasClass("hit") && $("#16").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#9").hasClass("hit") && $("#13").hasClass("hit") && $("#17").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("21");
      });
      $("#22").one('click', function(){
        if ($("#21").hasClass("hit") && $("#23").hasClass("hit") && $("#24").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#2").hasClass("hit") && $("#7").hasClass("hit") && $("#12").hasClass("hit") && $("#17").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        } else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("22");
      });
      $("#23").one('click', function(){
        if ($("#21").hasClass("hit") && $("#22").hasClass("hit") && $("#24").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#3").hasClass("hit") && $("#8").hasClass("hit") && $("#13").hasClass("hit") && $("#18").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        } else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("23");
      });
      $("#24").one('click', function(){
        if ($("#21").hasClass("hit") && $("#22").hasClass("hit") && $("#23").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#4").hasClass("hit") && $("#9").hasClass("hit") && $("#14").hasClass("hit") && $("#19").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        } else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("24");
      });
      $("#25").one('click', function(){
        if ($("#21").hasClass("hit") && $("#22").hasClass("hit") && $("#23").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#10").hasClass("hit") && $("#15").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#7").hasClass("hit") && $("#13").hasClass("hit") && $("#19").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        } else {
          score += 0;
          $("#score span").html(score);
        }
        hitNum.push("25");
      });
    });

});

$(document).ready(function() {
  $(".save").click(function(){
    $.cookie('firstScore', score);
    $.cookie('hitNum', hitNum);
  });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
