<div class="game-index-head">
  <img src="/img/IMG_1858.PNG">
  <h1>おてつだいをしよう！</h1>
  <img src="/img/IMG_1859.PNG">
</div>

<div class="link">
  <a href="first" class="animsition-link">おてつだい</a>
  <a href="second">おかいもの</a>
  <a href="third">おりょうり</a>
  <a href="fourth">おそうじ</a>
</div>

<%#
 <div id="content">
     <img src="/img/IMG_1858.PNG" alt="" id="red_balloon">
     <img src="/img/IMG_1859.PNG" alt="" id="yellow_balloon">
 </div>
 =end
%>

<style media="screen">
  #red_balloon, #yellow_balloon {
    margin:100px auto 0;
    width:300px;
    padding:20px;
    text-align:center;
}
</style>
<script type="text/javascript">
  $(function () {
    setTimeout('rect()');
    $("#red_balloon").click(function(){
      $(this).remove();
    });
    $("#yellow_balloon").click(function(){
      $(this).remove();
    });
  });

 function rect() {
    $('#red_balloon, #yellow_balloon').animate({
        marginTop: '-=10px'
    }, 800).animate({
        marginTop: '+=10px'
    }, 800);
    setTimeout('rect()', 1600);
  }
</script>
