<h1>ゲームの一覧</h1>
<div class="link">
  <a href="first" class="animsition-link">おてつだい</a>
  <a href="second">おかいもの</a>
  <a href="third">おりょうり</a>
  <a href="fourth">おそうじ</a>
</div>

<div id="content">
    <img src="/img/balloon_red.png" alt="" id="red_balloon">
    <img src="/img/balloon_yellow.png" alt="" id="yellow_balloon">
</div>
<style media="screen">
  #red_balloon, #yellow_balloon {
    margin:100px auto 0;
    width:300px;
    padding:20px;
    text-align:center;
}
</style>
<script type="text/javascript">
  $(function () {
    setTimeout('rect()');
    $("#red_balloon").click(function(){
      $(this).remove();
    });
    $("#yellow_balloon").click(function(){
      $(this).remove();
    });
  });

 function rect() {
    $('#red_balloon, #yellow_balloon').animate({
        marginTop: '-=10px'
    }, 800).animate({
        marginTop: '+=10px'
    }, 800);
    setTimeout('rect()', 1600);
  }
</script>
