<div class="body third">
  <div id="wrapper">
    <h1>おりょうり</h1>
    <div class="score-and-save">
      <p id="score">Score : <span>0</span></p>
      <%= link_to("保存", "/user/save_third", method: :post, data: {confirm: "終了しますか？"},  class: "save") %>
    </div>
    <div id="game">
      <div id="numbers">
        <img src="/img1.jpg" alt="" id="1">
        <img src="/img2.jpg" alt="" id="2">
        <img src="/img3.jpg" alt="" id="3">
        <img src="/img4.jpg" alt="" id="4">
        <img src="/img5.jpg" alt="" id="5">
        <img src="/img6.jpg" alt="" id="6">
        <img src="/img7.jpg" alt="" id="7">
        <img src="/img8.jpg" alt="" id="8">
        <img src="/img9.jpg" alt="" id="9">
        <img src="/img10.jpg" alt="" id="10">
        <img src="/img11.jpg" alt="" id="11">
        <img src="/img12.jpg" alt="" id="12">
        <img src="/img13.jpg" alt="" id="13">
        <img src="/img14.jpg" alt="" id="14">
        <img src="/img15.jpg" alt="" id="15">
        <img src="/img16.jpg" alt="" id="16">
        <img src="/img17.jpg" alt="" id="17">
        <img src="/img18.jpg" alt="" id="18">
        <img src="/img19.jpg" alt="" id="19">
        <img src="/img20.jpg" alt="" id="20">
        <img src="/img21.jpg" alt="" id="21">
        <img src="/img22.jpg" alt="" id="22">
        <img src="/img23.jpg" alt="" id="23">
        <img src="/img24.jpg" alt="" id="24">
        <img src="/img25.gif" alt="" id="25">
      </div>
      <div id="startScene">
        <button class="start-button">START</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function() {

    var score = 0;

    //スタート画面準備
    $("button").click(function(){
      $("#startScene").hide();
      $("#numbers img").click(function(){
          $(this).addClass("hit");
      });

      $("#1").one('click', function(){
        if ($("#2").hasClass("hit") && $("#3").hasClass("hit") && $("#4").hasClass("hit") && $("#5").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#6").hasClass("hit") && $("#11").hasClass("hit") && $("#16").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#7").hasClass("hit") && $("#13").hasClass("hit") && $("#19").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#2").one('click', function(){
        if ($("#1").hasClass("hit") && $("#3").hasClass("hit") && $("#4").hasClass("hit") && $("#5").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#7").hasClass("hit") && $("#12").hasClass("hit") && $("#17").hasClass("hit") && $("#22").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#3").one('click', function(){
        if ($("#1").hasClass("hit") && $("#2").hasClass("hit") && $("#4").hasClass("hit") && $("#5").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#8").hasClass("hit") && $("#13").hasClass("hit") && $("#18").hasClass("hit") && $("#23").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#4").one('click', function(){
        if ($("#1").hasClass("hit") && $("#2").hasClass("hit") && $("#3").hasClass("hit") && $("#5").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#9").hasClass("hit") && $("#14").hasClass("hit") && $("#19").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#5").one('click', function(){
        if ($("#1").hasClass("hit") && $("#2").hasClass("hit") && $("#3").hasClass("hit") && $("#4").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#10").hasClass("hit") && $("#15").hasClass("hit") && $("#20").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#9").hasClass("hit") && $("#13").hasClass("hit") && $("#17").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#6").one('click', function(){
        if ($("#7").hasClass("hit") && $("#8").hasClass("hit") && $("#9").hasClass("hit") && $("#10").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#11").hasClass("hit") && $("#16").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#7").one('click', function(){
        if ($("#6").hasClass("hit") && $("#8").hasClass("hit") && $("#9").hasClass("hit") && $("#10").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#2").hasClass("hit") && $("#12").hasClass("hit") && $("#17").hasClass("hit") && $("#22").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#13").hasClass("hit") && $("#19").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#8").one('click', function(){
        if ($("#6").hasClass("hit") && $("#7").hasClass("hit") && $("#9").hasClass("hit") && $("#10").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#3").hasClass("hit") && $("#13").hasClass("hit") && $("#18").hasClass("hit") && $("#23").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#9").one('click', function(){
        if ($("#6").hasClass("hit") && $("#7").hasClass("hit") && $("#8").hasClass("hit") && $("#10").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#4").hasClass("hit") && $("#14").hasClass("hit") && $("#19").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#13").hasClass("hit") && $("#17").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#10").one('click', function(){
        if ($("#6").hasClass("hit") && $("#7").hasClass("hit") && $("#8").hasClass("hit") && $("#9").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#15").hasClass("hit") && $("#20").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#11").one('click', function(){
        if ($("#12").hasClass("hit") && $("#13").hasClass("hit") && $("#14").hasClass("hit") && $("#15").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#6").hasClass("hit") && $("#16").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#12").one('click', function(){
        if ($("#11").hasClass("hit") && $("#13").hasClass("hit") && $("#14").hasClass("hit") && $("#15").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#2").hasClass("hit") && $("#7").hasClass("hit") && $("#17").hasClass("hit") && $("#22").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#13").one('click', function(){
        if ($("#11").hasClass("hit") && $("#12").hasClass("hit") && $("#14").hasClass("hit") && $("#15").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#3").hasClass("hit") && $("#8").hasClass("hit") && $("#18").hasClass("hit") && $("#23").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#7").hasClass("hit") && $("#19").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#9").hasClass("hit") && $("#17").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#14").one('click', function(){
        if ($("#11").hasClass("hit") && $("#12").hasClass("hit") && $("#13").hasClass("hit") && $("#15").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#4").hasClass("hit") && $("#9").hasClass("hit") && $("#19").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#15").one('click', function(){
        if ($("#11").hasClass("hit") && $("#12").hasClass("hit") && $("#13").hasClass("hit") && $("#14").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#10").hasClass("hit") && $("#20").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#16").one('click', function(){
        if ($("#17").hasClass("hit") && $("#18").hasClass("hit") && $("#19").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#6").hasClass("hit") && $("#11").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#17").one('click', function(){
        if ($("#16").hasClass("hit") && $("#18").hasClass("hit") && $("#19").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#2").hasClass("hit") && $("#7").hasClass("hit") && $("#12").hasClass("hit") && $("#22").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#9").hasClass("hit") && $("#13").hasClass("hit") && $("#21").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#18").one('click', function(){
        if ($("#16").hasClass("hit") && $("#17").hasClass("hit") && $("#19").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#3").hasClass("hit") && $("#8").hasClass("hit") && $("#13").hasClass("hit") && $("#23").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#19").one('click', function(){
        if ($("#16").hasClass("hit") && $("#17").hasClass("hit") && $("#18").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#4").hasClass("hit") && $("#9").hasClass("hit") && $("#14").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#7").hasClass("hit") && $("#13").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#20").one('click', function(){
        if ($("#16").hasClass("hit") && $("#17").hasClass("hit") && $("#18").hasClass("hit") && $("#19").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#10").hasClass("hit") && $("#15").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#21").one('click', function(){
        if ($("#22").hasClass("hit") && $("#23").hasClass("hit") && $("#24").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#6").hasClass("hit") && $("#11").hasClass("hit") && $("#16").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#9").hasClass("hit") && $("#13").hasClass("hit") && $("#17").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#22").one('click', function(){
        if ($("#21").hasClass("hit") && $("#23").hasClass("hit") && $("#24").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#2").hasClass("hit") && $("#7").hasClass("hit") && $("#12").hasClass("hit") && $("#17").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("23").one('click', function(){
        if ($("#21").hasClass("hit") && $("#22").hasClass("hit") && $("#24").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#3").hasClass("hit") && $("#8").hasClass("hit") && $("#13").hasClass("hit") && $("#18").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#24").one('click', function(){
        if ($("#21").hasClass("hit") && $("#22").hasClass("hit") && $("#23").hasClass("hit") && $("#25").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#4").hasClass("hit") && $("#9").hasClass("hit") && $("#14").hasClass("hit") && $("#19").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });
      $("#25").one('click', function(){
        if ($("#21").hasClass("hit") && $("#22").hasClass("hit") && $("#23").hasClass("hit") && $("#24").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#5").hasClass("hit") && $("#10").hasClass("hit") && $("#15").hasClass("hit") && $("#20").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($("#1").hasClass("hit") && $("#7").hasClass("hit") && $("#13").hasClass("hit") && $("#19").hasClass("hit")){
          score += 50;
          $("#score span").html(score);
        } else if ($(this).hasClass("hit")){
          score += 10;
          $("#score span").html(score);
        }else {
          score += 0;
          $("#score span").html(score);
        }
      });



    });
});
</script>
