<div class="howtoplay">
  <h1>あそびかた</h1>

  <div class="howtoplay-open">
    <h2>ビンゴをあけよう</h2>
    <div class="img-center"><img src="img/howto1.png" alt="ゲーム画面の写真"></div>
    <p>やったおてつだいをタッチして</p>
    <div class="img-center"><img src="img/howto7.png" alt="アラートの写真"></div>
    <p>「はい」をおしてね</p>
    <div class="img-center"><img src="img/howto4.png" alt="色がつく変化の写真"></div>
    <p>色がなかったマスに色がついてビンゴガあきます</p>
    <p>いちどマスをあけるともとにもどせません</p>
    <p>おてつだいをしたところだけタッチしてね</p>
  </div>

  <div class="howtoplay-score">
    <h2>スコアが出るよ</h2>
    <div class="img-center"><img src="img/howto4.png" alt="色がつく変化の写真"></div>
    <p>１つのおてつだいをすると</p>
    <p>１０ポイントがもらえます</p>
    <div class="img-center"><img src="img/howto3.png" alt="５つ揃った写真"></div>
    <p>５マスそろうと（たて・よこ・ななめ）</p>
    <p>５０ポイントがもらえます</p>
    <div class="img-center"><img src="img/howto6.png" alt="ranking"></div>
    <p>スコアによってランキングが出ます</p>
    <p>たくさんおてつだいをして１位をめざそう</p>
  </div>

  <ul>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdw7XoVeVHN3ACMpav9DTUsHW8JauYGCQnIRFzuiCqzvCcF7Q/viewform">何かご質問・ご要望がございましたらこちらまでお願いします</a></li>
  </ul>

  <footer class="howtoplay-footer"><p>&copy; Kanon</p></footer>

</div>
