<div class="howtoplay">
  <h1>あそびかたとルール</h1>
  <ul>
    <li><h2>スコアについて</h2></li>
    <li>ひとつのおてつだいをすると10ポイントもらえます</li>
    <li>５マスそろうと（たて・よこ・ななめ）50ポイントもらえます</li>
    <li>スコアはランキングに反映されます</li>
    <li>たくさんおてつだいをしてランキング上位に入ろう！</li>
  </ul>

  <ul>
    <li><h2>楽しくあそぶためのルール</h2></li>
    <li>１度マスをあけると元には戻せません</li>
    <li>おてつだいをしたところだけタップするようにしましょう</li>
  </ul>

  <ul>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdw7XoVeVHN3ACMpav9DTUsHW8JauYGCQnIRFzuiCqzvCcF7Q/viewform">何かご質問・ご要望がございましたらこちらまでお願いします</a></li>
  </ul>

</div>
